{# Load Content From Grav #}
{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set start = limit.start %}
{% set display = article_settings.display %}
{% set categories = filter.categories|split(' ') %}
{% set collection = grav.page.collection(
    {
        items: {'@taxonomy.category': categories},
        order: {by: sort.orderby, dir: sort.ordering},
        url_taxonomy_filters: false
    },
    false) %}
{% set total = collection.count() %}
{% set pages = collection.slice(start, limit.total) %}

{% for page in pages %}
    {% if display.image.enabled %}
        {% if display.image.enabled == 'intro' %}
            {% set file = page.header.image.summary.enabled|defined(false) ? (page.header.image.summary.file ?: true) %}
        {% elseif display.image.enabled == 'full' %}
            {% set file = page.header.image.text.enabled|defined(false) ? (page.header.image.text.file ?: true) %}
        {% endif %}

        {% set image = file is same as(true) ? page.media.images|first : (file ? page.media.images[file]) %}
    {% endif %}

<div class="swiper-slide">
    <div class="slide">
        <div class="g-testimonials-element-wrapper">
            {% if display.text.type %}
                {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}
                <h5 class="g-testimonials-content">
                    {% if display.text.formatting == 'text' %}
                        {{ page_text|truncate_text(display.text.limit)|raw }}
                    {% else %}
                        {{ page_text|truncate_html(display.text.limit)|raw }}
                    {% endif %}
                </h5>
            {% endif %}

            {% if display.author.enabled and page.header.author %}
                <div class="g-testimonials-separator">
                    <svg width="570" height="36" viewbox="0 0 570 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2H270V32L300 2H570" stroke="{{ gantry.config.get('styles.base.text-color') }}" stroke-width="3" class="base-text-color" />
                    </svg>
                </div>

                <div class="g-testimonials-author-wrap">
                    {% if display.image.enabled %}
                        <img class="g-testimonials-image" src="{{ url(image.url)|e }}" alt="{{ page.header.author|join(' ') }}" title="{{ page.header.author|join(' ') }}" />
                    {% endif %}
                    <div class="g-testimonials-author-data">
                        <span class="g-testimonials-author-name">
                            <strong>{{ page.header.author|join(' ') }}</strong>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

